body {
  /* Typography Declarations */
  color: #222222;
  font-size: 1em;
  font-family: "Open Sans", "Helvetica Neuu", sans-serif;
}

/*.masthead-heading,
.masthead-intro,
.content-footer {
  text-align: center;
}*/

.text-center {
  text-align: center;
}

.masthead {
  padding: 6em 0;
  background-image: url(http://i.imgur.com/0Y766pB.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-top: solid 1em #05308C;
  /*25388E; */
}

.masthead-intro {
  /* Layout Declarations */
  margin-bottom: 0.1em;
  /* Typography Declarations */
  font-family: "Gentium Book Basic", Georgia, serif;
  font-size: 2em;
}

.masthead-heading {
  /* Layout Declarations */
  margin-top: -0.2em;
  /* Typography Declarations */
  font-family: "Open Sans", "Helvetica Neuu", sans-serif;
  font-weight: bold;
  font-size: 6em;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

/*
section {
	margin: 0 15em;
} */

/* Best way to center a section and left align text. Margin- auto
	only works if you have a defined width */
/* section, */
/*.intro,
.location,
.moreInfo{
	max-width: 38em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
}*/

section {
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em; 
}

.social > li {
	display: inline-block;
  padding: 0 1em;
}

.intro > p,
.location > p,
.content-footer > p {
  /* Typography Declarations */
  font-weight: 300;
  letter-spacing: 0.05em;
}

.moreInfo > h2 {
  /* Typography Declarations */
  font-family: "Gentium Book Basic", Georgia, serif;
  font-size: 1.2em;
  font-weight: bold;
  color: #05308C;
  /* Layout */
  margin: 2em 0 1em 0;
}

section > h1 {
  margin-top: 2em;
}

.content-footer a {
	text-decoration: none;
  color: white;
}

.content-footer {
	color: white;
  background-color: #05308C;
  padding-top: 1em;
  padding-bottom: 1em;
}

.one-edge-shadow {
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}